<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogLevel="Info"
        internalLogFile="./logs/internal-nlog.txt"
        throwExceptions="false">

        <extensions>
                <add assembly="NLog.Web.AspNetCore" />
        </extensions>

        <targets async="true">
                <target name="allfile" xsi:type="File"
                        fileName="${var:logDir}/all/all-${shortdate}.log"
                        createDirs="true"
                        layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString,Data:maxInnerExceptionLevel=5}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
                        archiveFileName="${var:logDir}/archives/all-${shortdate}-{##}.log"
                        archiveAboveSize="10485760"
                        archiveNumbering="Sequence"
                        maxArchiveFiles="30" />

                <target name="errorfile" xsi:type="File"
                        fileName="${var:logDir}/errors/error-${shortdate}.log"
                        createDirs="true"
                        layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString,Data:maxInnerExceptionLevel=5}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
                        archiveFileName="${var:logDir}/archives/error-${shortdate}-{##}.log"
                        archiveAboveSize="10485760"
                        archiveNumbering="Sequence"
                        maxArchiveFiles="30" />

                <target name="requesttimefile" xsi:type="File"
                        fileName="${var:logDir}/time/request-time-${shortdate}.log"
                        createDirs="true"
                        layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString,Data:maxInnerExceptionLevel=5}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
                        archiveFileName="${var:logDir}/archives/error-${shortdate}-{##}.log"
                        archiveAboveSize="10485760"
                        archiveNumbering="Sequence"
                        maxArchiveFiles="30" />

                <target name="hublogs" xsi:type="File"
                        fileName="${var:logDir}/hub/game-${shortdate}.log"
                        createDirs="true"
                        layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString,Data:maxInnerExceptionLevel=5}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
                        archiveFileName="${var:logDir}/archives/hub/HubLogs-${shortdate}-{##}.log"
                        archiveAboveSize="10485760"
                        archiveNumbering="Sequence"
                        maxArchiveFiles="30" />

                <target name="console" xsi:type="ColoredConsole"
                        layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />
        </targets>

        <rules>
                <logger name="Microsoft.AspNetCore.Http.Connections.Internal.*" minlevel="Trace" final="true" />
                <logger name="Microsoft.AspNetCore.SignalR.*" minlevel="Trace" final="true" />
                <logger name="Microsoft.*" minlevel="Trace" writeTo="console" final="true" />
                <logger name="FoxTales.Api.Middleware.Logging*" minlevel="Debug" writeTo="hublogs" final="true" />
                <logger name="FoxTales.Api.Filters.DuplicateDetectionHubFilter" minlevel="Debug" writeTo="hublogs" final="true" />
                <logger name="FoxTales.Api.Hubs.PsychHub*" minlevel="Debug" writeTo="hublogs" final="true" />
                <logger name="*" minlevel="Debug" writeTo="allfile,console" />
                <logger name="*" minlevel="Error" writeTo="errorfile" />
                <logger name="*" minlevel="Trace" writeTo="requesttimefile" />
        </rules>
</nlog>