<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="./logs/internal-nlog.txt"
      throwExceptions="false">

  <variable name="logDir" value="C:/HubFiles/projects/HubWorkspace/FoxTales/FoxTales.Api/" />

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">
    <target name="allfile" xsi:type="File"
            fileName="${logDir}/logs/all-${shortdate}.log"
            createDirs="true"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString,Data:maxInnerExceptionLevel=5}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
            archiveFileName="${logDir}/logs/archives/all-${shortdate}-{##}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Sequence"
            maxArchiveFiles="30" />

    <target name="errorfile" xsi:type="File"
            fileName="${logDir}/logs/error-${shortdate}.log"
            createDirs="true"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString,Data:maxInnerExceptionLevel=5}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
            archiveFileName="${logDir}/logs/archives/error-${shortdate}-{##}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Sequence"
            maxArchiveFiles="30" />

    <target name="console" xsi:type="ColoredConsole"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" final="true" />
    <logger name="*" minlevel="Debug" writeTo="allfile,console" />
    <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>
</nlog>
